// variables
$color-light = #FFFAFB;
$color-green = #339989;
$color-dark = #2B2C28;
$box-shadow-color = rgba(0,0,0,0.5);

$header-height = 36px;
$spacing-small = 5px;
$spacing-large = 10px;
$image-height-max = 500px;
$image-wrapper-width = 668px;

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  color: $color-dark;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $header-height;
  line-height: $header-height;
  font-size: 24px;
  text-align: center;
  background: $color-green;
  border-bottom: 1px solid $color-dark;
  box-shadow: 0 2px 4px 0 $box-shadow-color;
}

.content {
  flex: 1;
  padding: $spacing-small + $header-height $spacing-large $spacing-small;
  background: $color-light;

  &.loading, &.error {
    .grid {
      display: none;
    }

    .message {
      display: block
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: @height;
  margin: $spacing-small;
  border-radius: 4px;
  background: $color-light;
  box-shadow: 6px 10px 28px 0 $box-shadow-color;
  cursor: pointer;
}

.tile-image {
  transition: opacity 0.3s;

  &.hidden {
    opacity: 0;
  }
}

.message {
  display: none;
  margin-top: 48px;
  text-align: center;
  font-size: 18px;
}

@keyframes loading {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
  }
}

.message-loading {
  .error & {
    display: none;
  }

  animation: loading 0.5s linear infinite alternate;
}

.content:not(.error) .message-error {
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $image-wrapper-width;
  background: rgba(0, 0, 0, 0.8);

  &:not(.active) {
    display: none;
  }
}

.lightbox-image-wrapper {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  height: $image-height-max;
  width: $image-wrapper-width;
}

.lightbox-image {
  max-height: $image-height-max;
  max-width: @max-height;
}

.lightbox-prev, .lightbox-next {
  height: 44px;
  width: @height;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  background: $color-light;
  cursor: pointer;
}

.lightbox-image, .lightbox-prev, .lightbox-next {
  box-shadow: 6px 10px 28px 10px $box-shadow-color;
}

.footer {
  border-top: 1px solid $color-dark;
  font-size: 12px;
  text-align: center;
  background: $color-green;
}
