* {
  box-sizing: border-box;
}

// variables
$tile-color = #FFFAFB;
$color-2 = #7DE2D1;
$color-3 = #2B2C28;
$header-color = #339989;
$text-color = #2B2C28;
$box-shadow = 6px 10px 28px 0px rgba(0,0,0,0.5);

.body {
  margin: 0;
  color: $text-color;
}

.header {
  font-size: 24px;
  text-align: center;
  background: $header-color;
  border-bottom: 1px solid $text-color;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);;
  position: fixed;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  background: $tile-color;
  padding: 5px + 36px 10px 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.message {
  display: none;
  text-align: center;
  font-size: 18px;
  margin-top: 48px;
}

@keyframes loading {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
  }
}

.message-loading {
  .error & {
    display: none;
  }

  animation: loading 0.5s linear infinite alternate;
}

.content:not(.error) .message-error {
  display: none;
}

.content {
  &.loading, &.error {
    .grid {
      display: none;
    }

    .message {
      display: block
    }
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  cursor: pointer;
  background: $tile-color;
  border-radius: 4px;
  margin: 5px;
  box-shadow: $box-shadow;
}

.lightbox-image-wrapper {
  width: 668px;
  height: 500px;

  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.thumbnail-image {
  transition: opacity 0.3s;

  &.hidden {
    opacity: 0;
  }
}

.lightbox-image {
  max-width: 500px;
  max-height: 500px;
  box-shadow: 6px 10px 28px 10px rgba(0,0,0,0.5);
}


.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  font-size: 12px;
  text-align: center;
  background: $header-color;
  border-top: 1px solid $text-color;
}

.lightbox:not(.active) {
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  min-width: 668px;
}

.lightbox-prev, .lightbox-next {
  font-size: 30px;
  background: $tile-color;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-shadow: 6px 10px 28px 10px rgba(0,0,0,0.5);
}
