* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  color: #2b2c28;
}
.header {
  font-size: 24px;
  text-align: center;
  background: #339989;
  border-bottom: 1px solid #2b2c28;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  top: 0;
  left: 0;
  right: 0;
}
.content {
  background: #fffafb;
  padding: 41px 10px 5px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.message {
  display: none;
  text-align: center;
  font-size: 18px;
  margin-top: 48px;
}
.message-loading {
  animation: loading 0.5s linear infinite alternate;
}
.error .message-loading {
  display: none;
}
.content:not(.error) .message-error {
  display: none;
}
.content.loading .grid,
.content.error .grid {
  display: none;
}
.content.loading .message,
.content.error .message {
  display: block;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  cursor: pointer;
  background: #fffafb;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.5);
}
.lightbox-image-wrapper {
  width: 668px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thumbnail-image {
  transition: opacity 0.3s;
}
.thumbnail-image.hidden {
  opacity: 0;
}
.lightbox-image {
  max-width: 500px;
  max-height: 500px;
  box-shadow: 6px 10px 28px 10px rgba(0,0,0,0.5);
}
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.footer {
  font-size: 12px;
  text-align: center;
  background: #339989;
  border-top: 1px solid #2b2c28;
}
.lightbox:not(.active) {
  display: none;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  min-width: 668px;
}
.lightbox-prev,
.lightbox-next {
  font-size: 30px;
  background: #fffafb;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-shadow: 6px 10px 28px 10px rgba(0,0,0,0.5);
}
@-moz-keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
